<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Haven | Details </title>
    <link rel="stylesheet" href="../assets/css/detail.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="icon" href="../icons/svg/logo.svg">
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 d-flex align-items-center justify-content-start navbar px-3 py-3">
                <img src="../icons/svg/logotext.svg" alt="">
            </div>
            <div class="col-12 d-flex align-items-end justify-content-start header px-3  border-bottom">
                <h4>Product Details</h4>
            </div>
            

            <!-- product detail  -->

            <div class="col-12 col-md-6 product-image">
                <div class="image shadow" style="
                            background: url(../books/TheGene.jpg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center; 
                            width: 200px; height: 300px;
                            border-radius: 10px;"></div>
            </div>
            <div class="col-12 col-md-6 product-details d-flex align-items-center justiyf-content-center">
                <div class="content-wrapper text-start px-3 px-md-5">
                    <small class="instock">in stock</small>
                    <h3>The Grene</h3>
                    <div class="mt-3 d-flex flex-column align-items-start justify-content-center border-bottom pb-2 mb-3">
                        <small class="category-name mb-1">Category : <span>Genetics</span></small>
                        <small class="author-name">Author : <span>Siddhartha Mukherjee</span></small>
                    </div>
                    <p class="price">Price : <span>$50</span></p>
                    <p class="summary">
                        The book discusses the power of genetics in determining people's well-being and traits. It delves into the personal genetic history of Siddhartha Mukherjee's family, including mental illness.
                    </p>
                    <div class="d-flex align-items-start justify-content-start mt-2 flex-column mb-5">
                        <div class="quantity-wrapper d-flex align-items-center justify-content-start mt-2">
                            <div class="btn-gp d-flex align-items-center justify-content-center ">
                                <a href="#" class="me-1 wishlist me-3"><i class="bi bi-heart"></i> Wishlist</a>
                                <a href="#" class="cart "><i class="bi bi-cart"></i> Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end footer px-5">
                        <a href="./shop.html" class="back">Back</a>
                    </div>
                </div>
            </div>

            <!-- end of product detail  -->

        </div>
    </div>

    <script src="../assets/js/details.js"></script>
    
</body>
</html>